name: "Check Version for Change"
on:
  workflow_call:
    inputs:
      plugin-name: #e.g.: network
        required: true
        type: string
    secrets:
      PAT_REPO_OSCD_PLUGINS:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PAT_TOKEN: ${{ secrets.PAT_REPO_OSCD_PLUGINS }}
    steps:
      - name: Checkout oscd-plugins.src
        uses: actions/checkout@v3
        
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      
      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      
      - name: Build Plugin
        run: pnpm install && pnpm turbo run build --filter=./packages/plugins/${{ inputs.plugin-name }}...
     
      - name: Prep-Build
        run: mkdir _build_ && cd _build_
       
      - name: Checkout oscd-plugins
        uses: actions/checkout@v3
        with:
          repository: sprinteins/oscd-plugins
          ref: build/${{ inputs.plugin-name }}
          path: _build_

      - name: Add built files
        run: |
          cd $GITHUB_WORKSPACE/_build_
          rm -rf $GITHUB_WORKSPACE/_build_/dist
          mv -f $GITHUB_WORKSPACE/packages/plugins/${{ inputs.plugin-name }}/dist $GITHUB_WORKSPACE/_build_
          mv -f $GITHUB_WORKSPACE/packages/plugins/${{ inputs.plugin-name }}/package.json $GITHUB_WORKSPACE/_build_/package.json
          git config --unset-all http.https://github.com/.extraheader
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Update file"
          git push https://tamasrusz:$PAT_TOKEN@github.com/sprinteins/oscd-plugins.git HEAD:build/${{ inputs.plugin-name }}
